.artistesContainer {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cartArtist {
    margin: 20px;
    width: 25%;
    position: relative;
}

.cartArtist  figcaption {
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 1.3rem;
    background-color: #0D0D0D;
    opacity: .7;
    width: 100%;
    transition: .7s;
}

.cartArtist figcaption:hover {
    opacity: 1;
    height: 50px;
}

.cartArtistImg {
    width: 100%;
    height: 100%;
}

.showListArtistsButtonContainer {
    display: flex;
    justify-content: center;
}

.cartArtistTitle{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.showListArtistsButton {
    position: relative;
    margin-top: 30px;
    background-color: #0D0D0D;
    color: #D9D9D9;
    /* border: 2px solid #D9D9D9; */
    padding: 15px;
    font-family: Roboto-light;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}

.showListArtistsButton:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    transform: scaleX(0);
    transition: transform .4s ease-in;
    transform-origin: left center;
}

.showListArtistsButton:before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    transform: scaleX(0);
    transition: transform .4s ease-in;
    transform-origin: right center;
}

.showListArtistsButton:hover:after {
    transform: scaleX(1);
}

.showListArtistsButton:hover:before {
    transform: scaleX(1);
}

.listArtists {
    width: 20%;
}

.listArtists> li {
    padding: 0 2rem;
    font-size: 1.5em;
}

.listArtists > li > a {
    font-family: Roboto-light;
    color:#D9D9D9;
    outline: none;
    text-decoration: none;
}

.listArtists > li > a:hover {
    color: white;
}

.searchArtist {
    margin: 2rem;
    /* margin: 15px; */
    width: 300px;
    height: 60px;
    background-color: #0D0D0D;
    color: #D9D9D9;
    border: 1.5px solid #D9D9D9;
    font-family: Roboto-light;
    font-size: 1em;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.5em;
    outline: 0;
    border-radius: 5px;
}