.editionsContainer {
    padding: 80px 0px 0px 0px;
    display: flex;
}

.listArtistsEditionsContainer {
    /* position: fixed; */
}

.listArtistsEditions {
    list-style: none;
    max-height: 100vh;
    overflow-y: hidden;
    overflow: scroll;
}

.listArtistsEditions > li {
    margin: 0 2rem;
    font-size: 1.7em;
}

.listArtistsEditions > li > a {
    font-family: Roboto-light;
    color:#D9D9D9;
    outline: none;
    text-decoration: none;
    margin-top: 5px;
}

.listArtistsEditions > li > a:hover {
    color: white;
}

.listFigure {
    margin: 2rem 0 0 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.editionFigure {
    opacity: 0;
    position: relative;
    width: 40%;
    margin: .5rem;
}

.editionFigureImg {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.editionFigure figcaption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    transition: opacity 0.6 ease;
}

.editionFigure figcaption:hover {
    opacity: 0.7;
}

.editionFigure figcaption h4 {
    font-size: 1.3rem;
}

.editionFigure figcaption p {
    font-size: 1rem;
}