.expositionsContainer {
    padding: 80px 0px 0px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.exposFigure {
    margin: 20px;
    width: 25%;
}

.exposFigure img {
    width: 100%;
    object-fit: cover;
    max-height: 200px;
}

.exposFigure figcaption {
    background-color: #242625;
    color: #D9D9D9;
    text-align: center;
    opacity: .7;
    transition: .4s;
    padding: 5px;
}

.exposFigure figcaption .exposFigureItem {
    padding: 3px;
    margin: 3px;
}

.exposFigure figcaption:hover {
    opacity: 1;
}